#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* for Dashboard */

/* src/components/Dashboard.css */
.tile_box {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
  border: white 1px solid;
  border-radius: 1em;
  box-shadow: 0 0 13em #ffffff22;
  width: 300px;
  
}

.tile_box:hover {
  transform: scale(1.05);
  transition-duration: 300ms;
}

.tile_box h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
  color: rgb(228, 221, 221);
}

.tile_box p {
  font-size: 1em;
  font-weight: 500;
  margin: 0.5em 0;
  color: #bdb9b9;
  max-width: fit-content;

}

.tile_text{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0.5em 0;
}

.dashboard_tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard_navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
}

.tile_article:hover {
  transform: scale(1.05);
}

.tile_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1em;
}

/* src/components/Navbar.css */

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 1em 1em;
  padding: 15px;
}

.navbar-head {
  font-size: 24px;
  font-weight: bold;
  padding: 0 1em;
}

.navbar-elements {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  padding-right: 0.5em;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #ddd;
}

.search {
  display: flex;
  gap: 0.3em;
  padding: 1px;
}

.searchbox {
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: aliceblue;
}
